<!DOCTYPE html>
<html>
<head>

<title>RNG Panel</title>

<style>

body{
background:black;
color:white;
text-align:center;
font-family:Arial;
}

#number{
font-size:90px;
font-weight:bold;
margin-top:10px;
}

</style>

</head>

<body>

<h2>Period</h2>
<div id="period">--</div>

<h2>Countdown</h2>
<div id="timer">--</div>

<h2>Preview</h2>
<div id="number">--</div>

<h3 id="size"></h3>
<h3 id="color"></h3>

<script>

function loadData(){

fetch("/api/result")

.then(res => res.json())

.then(data => {

document.getElementById("period").innerText = data.period

document.getElementById("timer").innerText = data.time_left

document.getElementById("number").innerText = data.preview

document.getElementById("size").innerText = data.size

document.getElementById("color").innerText = data.color

})

}

setInterval(loadData,1000)

loadData()

</script>

</body>
</html>
