<!DOCTYPE html>
<html>

<head>

<title>RNG Panel</title>

<style>

body{
background:black;
color:white;
text-align:center;
font-family:Arial;
}

h2{
margin-top:20px;
}

.number{
font-size:80px;
font-weight:bold;
}

.timer{
font-size:35px;
}

</style>

</head>

<body>

<h2>Period</h2>
<div id="period">--</div>

<h2>Countdown</h2>
<div class="timer" id="timer">--</div>

<h2>Preview</h2>
<div class="number" id="number">--</div>

<h2 id="size"></h2>
<h2 id="color"></h2>


<script>

function loadResult(){

fetch("/api/result")

.then(res => res.json())

.then(data => {

document.getElementById("period").innerText = data.period

document.getElementById("number").innerText = data.number

document.getElementById("size").innerText = data.size

document.getElementById("color").innerText = data.color

document.getElementById("timer").innerText = data.time_left

})

}

setInterval(loadResult,1000)

loadResult()

</script>


</body>
</html>
